@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Manrope:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');
*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          text-decoration: none;
          font-family:'Poppins';

}
html{
          scroll-behavior: smooth;
}
.max-width{
          max-width: 1300px;
          padding: 0 80px;
          margin: auto;
}
/* navbar styling */
.navbar{
          position: fixed;
          width: 100%;
          padding:30px 0;
          transition: all 0.3s ease;
          z-index: 999;
          /* background-color:rgb(192, 122, 179); */
          /* font-family:'Poppins'; */
}
.navbar.sticky{
          padding:15px 0;
          background-color:#2c4b55;
}
.navbar .max-width{
          display: flex;
          align-items: center;
          justify-content: space-between;
}
.navbar .logo a{
          color: #fff;
          font-size: 35px;
          font-weight: 600;

}
.navbar .logo a span{
          color:#3b7385;
          transition:all 0.3s ease;
}
.navbar.sticky .logo a span{
          color: #fff;
}
.navbar .menu li{
          list-style-type: none;
          display: inline-block;
          

}
.navbar .menu li a{
          color:#fff;
          font-size: 18px;
          font-weight: 500;
          margin-left: 25px;
          transition: color 0.3s ease;
}
.navbar .menu li a:hover{
          color:#6fa8bb(192, 122, 179);
}
.navbar.sticky .menu li a:hover{
          color:#fff;
}
/* menu botton styling */
.menu-btn{
          font-size:23px;
          color:#fff;
          cursor:pointer;
          display: none;
}
/* home section styling */
.home{
          display: flex;
          background:url(./img/WideBg.jpg) no-repeat center;
          height: 100vh;
          color: #fff;
          min-height: 500px;
          background-size: cover;
          /* background-attachment: fixed; */
          
}

.home .max-width{
          margin: auto 0 auto 40px;
}
.home .home-content .text-1{
          font-size: 27px;
}
.home .home-content .text-2{
          font-size: 60px;
          font-weight: 500;
          margin-left: -3px;
}
.home .home-content .text-3{
          font-size: 35px;
          margin:5px 0;
}
.home .home-content .text-3 span{
          color:#2c4b55;
          font-weight: 500;
}
/* about section styling */
section.about ,
section.services , 
section.skills ,
section.teams,
section.contact
{
          padding:100px 0;
}
.bg-even{
          background:url(./img/Personal\ Bg.jpg) no-repeat center;
          background-size: cover;
}
.bg-odd{
          background:url(./img/WideBg.jpg) no-repeat center;
          background-size: cover;
}
.title{
          position:relative;
          text-align: center;
          font-size:40px;
          font-weight: 500;
          color:rgb(45, 39, 39);
          margin-bottom:40px;
          padding-bottom:20px;
}
.title::before{
          content:"";
          position:absolute;
          bottom:0px;
          left:50%;
          width:190px;
          height:3px;
          background:rgb(45, 39, 39);
          transform: translateX(-50%);
}
.about .about-content,
.services .serv-content,
.contact .contact-content
{
          display:flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content:space-between;
}

.about .about-content .left img{
          width: 400px;
          height: 400px;
          object-fit: cover;
          border:1px solid none;
          border-radius:6px;

}
.about .about-content .culmn{
           width:100%;
}
.about .about-content .left{
          width: 45%;
}
.about .about-content .right{
          width: 55%;
}
.about .about-content a{
          display: inline-block;
          background-color:#2c4b55;;
          color:#fff;
          font-size: 15px;
          padding:10px 20px;
          font-weight: 500;
          margin-top: 10px;
          border-radius: 6px;
          border:2px solid #2c4b55;;
          transition: all 0.3s ease;

}
.about .about-content a:hover{
          color:#2c4b55;;
          background: none;
}
.about .about-content p{
          text-align: justify;
}
.about .about-content .right .text{
          font-size: 25px;
          font-weight:600;
          margin-bottom:10px;
}
.about .about-content .right .text span{

          color:#2c4b55;;

}
/* services section styling  */
.services .serv-content .card{
          width:calc(33% - 20px);
          text-align:center;
          background-color:#84b4cc;
          color:#2c4b55;
          border-radius: 6px;
          padding: 20px 25px;
          cursor:pointer;
          transition: all 0.3s ease;
}
.services .serv-content .card:hover{
          background-color:#c4c4c4;
}
.services .serv-content .card .box{
          transition: all 0.3s ease;
}
.services .serv-content .card:hover .box,
.teams .carousel .card:hover .box
{
          transform:scale(1.05)
}
.services .serv-content .card i{
          font-size:50px;
          color:#c4c4c4;
          transition: color 0.3s ease;
}
.services .serv-content .card:hover{
          color:#2c4b55;;
}
.services .serv-content .card:hover i{
          color:#2c4b55;
}
.services .serv-content .card .text{
          font-size:25px;
          font-weight: 500;
          margin: 10px 0 7px 0;
}
/* services section styling  */
.skills .skills-content .culmn{
          width:calc(50% - 30px);
}
.skills .skills-content .left .text{
          font-size: 20px;
          font-weight:600;
          margin-bottom: 10px;
}
.skills .skills-content .left p{
          text-align:justify;
}
.skills .skills-content {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          /* margin:0  40%; */
}
.skills .skills-content .right{
          margin-left:5%;
          width:calc(50% - 30px);
}
.skills .skills-content .right .bars{
          margin-bottom:15px;
}
.skills .skills-content .right .info{
          display: flex;
          align-items: center;
          justify-content: space-between;
}
.skills .skills-content .right span{
          font-weight: 500;
          font-size: 18px;
}
.skills .skills-content .right .line{
          height:5px;
          width:100%;
          background-color:#c4c4c4;
          position: relative;
}
.skills .skills-content .right .line::before{
          content: "";
          position: absolute;
          height:100%;
          left: 0;
          top:0;
          background-color:#2c4b55;
}
.skills .skills-content .right .line.html::before{
          width: 100%;

}
.skills .skills-content .right .line.css::before{
          width: 60%;

}
.skills .skills-content .right .line.js::before{
          width: 80%;

}
.skills .skills-content .right .line.php::before{
          width: 50%;

}
.skills .skills-content .right .line.mysql::before{
          width: 70%;

}
.skills .skills-content .left a,
button
{
          display: inline-block;
          background-color:#2c4b55;;
          color:#fff;
          font-size: 15px;
          padding:10px 20px;
          font-weight: 500;
          border-radius: 6px;
          border:2px solid #2c4b55;;
          transition: all 0.3s ease;
          margin-top: 20px;

}
.skills .skills-content .left a:hover,
button:hover
{
          color:#2c4b55;;
          background: none;
}
/* teams section styling */
.teams .carousel .card{

          padding:25px 35px;
          text-align: center;
          background-color: #84b4cc;
          transition: all 0.3s ease;
          border-radius: 6px;

}
.teams .carousel .card .text{
          font-size: 25px;
          font-weight: 500;
          margin:10px 0 7px 0;
}
.teams .carousel .card .box{
          display: flex;
          flex-direction: column;
          align-items:center;
          justify-content: center;
}
.teams .carousel .card .box img{

          height:150px;
          width:150px;
          object-fit: cover;
          border-radius:50%;
          border:5px solid #2c4b55;;

          
} 
.owl-dots{
          text-align: center;
          margin-top: 20px;
}
.owl-dot{
          display: inline-block;
          height:13px;
          width:13px;
          margin: 0 5px;
          outline: none !important;
          border-radius:50%;
          border:2px solid #2c4b55;;
          transition: all 0.3s ease;
}
.owl-dot:active{
          background-color:#2c4b55;;
          width:20px;
          height:20px;
}

/* contact section styling  */
.contact .contact-content .culmn{
          width:calc(50% - 30px);
}
.contact .contact-content .left .text{
          font-size: 20px;
          font-weight:600;
          margin-bottom:10px;
}
.contact .contact-content .left p{
          text-align: justify;

}
.contact .contact-content .left .icons{

          margin: 10px 0;

}
.contact .contact-content .left .row{
          display: flex;
          height: 65px;
          align-items: center;
}
.contact .contact-content  .row .info{
          margin-left: 30px;
}
.contact .contact-content .row i{
          font-size:25px;
          color: #2c4b55;;

}
.contact .contact-content  .row .info .head,
.contact .contact-content .right .text
{
          font-weight:600;
}
.contact .contact-content .right .text{
          margin-bottom: 5%;
}
.contact .right form .fields{
          display: flex;
}

.contact .right form .fields .name{
          margin-right:20px;
}
.contact .right form .field,
.contact .right form .fields .field{
          height:45px;
          width: 100%;
          margin-bottom: 15px;
}
.contact .right form .field input,
.contact .right form .texterea textarea
{
          width: 100%;
          height: 100%;
          border: 1px solid #2c4b55;;
          border-radius: 6px;
          padding: 0 15px;
          outline: none;
          font-size: 17px;
}
.contact .right form .texterea textarea{
          height: 200%;
          margin-bottom: 2%;
          resize: none;
}
form{
          margin-bottom:50px;
}
.contact .right .button{
          height:47px;
          width: 170px;
}
.contact .right .button button{
          height:100%;
          width: 100%;
          border:1px solid #08485e;
}
/* footer styling  */
footer{
          padding:3% 1%;
          background-color: #2c4b55;
          color:#fff;
          text-align:center;
}
footer a{
          color:rgb(96, 83, 138);
}


/* responsive media query start */
@media (max-width: 1300px) {
          .home .max-width{
                    padding: 0px;
          }

}
@media (max-width: 1104px) {
          .about .about-content .left img{

                    height: 350px;
                    width:350px;

          }

}
@media (max-width: 991px) {
          .max-width{
                    padding: 0 50px;
          }

}
@media (max-width: 947px) {
          .max-width{
                    padding: 0 50px;
          }
          .navbar .menu{
                    position:fixed;
                    height: 100vh;
                    width: 100%;
                    left: -100%;
                    top: 0;
                    background:url(./img/background.jpg) no-repeat center;
                    text-align: center;
                    background-size: cover;
                    padding-top: 80px;
                    transition: all 0.3s ease;
          }
          .navbar .menu.active{
                    left: 0;
          }
          .menu-btn{
                    display: block;
                    z-index: 999;
          }
          .menu-btn i.active::before{
                    content:"\f00d";
          }
          .navbar .menu li{
                    display:block;
          }
          .navbar .menu li a{
                    display: inline-block;
                    margin:20px 0;
                    font-size:25px;

          }
          .home .home-content .text-1{
                    font-size: 20px;
          }
          .home .home-content .text-2{
                    font-size: 45px;
          }
          .home .home-content .text-3{
                    font-size: 30px;
          }
          .max-width{
                    max-width: 800px;
          }
          .about .about-content .culmn{
                    width: 50%;
          }
          .about .about-content .left{
                    display:flex;
                    justify-content:center;
                    margin:0 auto 60px;
          }
          .about .about-content .right{
                    flex:100%;
                    
          }
          .services .serv-content .card{
                    width: calc(50% - 10px);
                    margin-bottom:20px;
          }
          .skills .skills-content .culmn,
          .contact .contact-content .culmn
          {
                    width: 100%;
                    margin-bottom: 35px;
          }
}
@media (max-width: 690px){
          @media (max-width: 991px) {
                    .max-width{
                              padding: 0 23px;
                    }
          
          }
          .home .home-content .text-1{
                    font-size: 15px;
          }
          .home .home-content .text-2{
                    font-size: 40px;
          }
          .home .home-content .text-3{
                    font-size: 25px;
          }
          .services .serv-content .card{
                    width:100%;
          }
          .skills .skills-content .right{
                    margin-left:0;
                    width:100%;
          }


}
@media (max-width: 500px){
          .home .home-content .text-1{
                    font-size: 15px;
          }
          .home .home-content .text-2{
                    font-size: 30px;
          }
          .home .home-content .text-3{
                    font-size: 15px;
          }


}